#page-content-wrapper {
    position: relative;
}

.anime-on-apparition {
    opacity: 0.1;
}

.anime-on-apparition.isVisibleOnScreen {
    opacity: 1;
    transition: all 0.5s;
}

.main-section h2{
    margin: 2rem auto;
    text-align: center;
    font-weight: bold;
}

/* --------------------Header-------------------- */
header {
    position: relative;
    width: 100%;
    height: 90vh;
    height: calc(100vh-7rem);
    max-height: 850px;
    /* margin-top: 5rem; */
    margin-bottom: 10rem;
}

.header-img-list {
    position: relative;
}

.header-img-list img {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    /* transform: translateX(); */
    transition: opacity 1s 1s ease-in-out;
    
}
.header-img-list img.active {
    z-index: 20;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.slider-comments-list {
    position: absolute;
    z-index: 30;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    border-left: 5px solid #236800;
    width: 90%;
    max-width: 450px;
    min-height:50%;
    max-height: 600px;
    padding: 0.5rem;
    overflow-x: hidden;
    /* background: hsla(48, 100%, 53%, 1);
    background: linear-gradient(-90deg, hsla(48, 100%, 53%, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(-90deg, hsla(48, 100%, 53%, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(-90deg, hsla(48, 100%, 53%, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFCF11", endColorstr="#FFFFFFFFF", GradientType=1); */
    text-shadow: 0 0 1px white;
}
.slider-comments-list .comment-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s ease-in-out,
                transform 1s ease-in-out;
}
.slider-comments-list .comment-item h1 {
    font-size: 2.1rem;
    text-align: center;
    font-weight: bolder;
}
.slider-comments-list .comment-item p {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Spline Sans Mono", monospace;
    font-weight: bold;
    margin: 1rem 0.5rem;
}
.slider-comments-list .comment-item.active {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 1s ease-in-out,
                transform 1s ease-in-out;
}

.header-chiffres-actions {
    background-color: transparent;
    position: absolute;
    z-index: 60;
    width: 100%;
    top: 100%;
    transform: translateY(-30%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 300px));
    grid-template-rows: auto;
    gap: 5%;
    justify-content: center;
}
.header-numbers {
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 16px 2px black;
    
}
.header-numbers .val {
    justify-self: flex-start;
    font-size: 2rem;
    font-weight: bold;
}
.header-numbers .label {
    font-family: "Spline Sans Mono", monospace;
    font-size: 0.9rem;
}
.header-numbers:nth-child(1) {
    background-color: #236800;
    color: white;
}
.header-numbers:nth-child(2) {
    background-color: #ffcf11;
    color: black;
}

.header-numbers:hover {
    box-shadow: 0 0 16px 2px #236800;
}
.header-numbers:nth-child(2):hover {
    box-shadow: 0 0 16px 2px #ffcf11;
}

.hover-appear {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-200%, -50%);
    opacity: 0;
}
.header-numbers:hover .hover-appear {
    opacity: 1;
    transform: translate(-100%, -50%);
    transition: all 0.5s ease-out;
}

/* --------------------Fin header-------------------- */

/* --------------------Section Contexte Tinga-------------------- */
#section-contexte-tinga {
    background-color: #F4FFEF;
    display: flex;
    flex-direction: row;
}
.little-comment-part {
    width: 40%;
    min-width: 300px;
    margin: 0 1rem 0 0;
}

.little-comment-part img{
    width: 70%;
    max-height: 310px;
    object-fit: cover;
    margin: auto;
}

.way-part {
    width: 60%;
}
.context-history {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    margin: 0;
}
.context-history .illustr-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 11rem;
    flex-shrink: 0;
}
.context-history .illustr-div img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #236800;
    z-index: 100;
}
.context-history:nth-child(3) .illustr-div img {
    width: 7rem;
    height: 7rem;
}
.context-history .comment {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.context-history .comment h3,
.context-history .comment p {
    text-align: left;
    width: 100%;
    margin: 0;
}
.context-history .comment h3 {
    font-size: 1.5rem;
}
.context-history .illustr-div .stick {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50x);
    width: 4px;
    height: 100%;
    background-color: #236800;
    z-index: 99;
}
.context-history:nth-child(1) .illustr-div .stick  {
    left: 50%;
    top: 70%;
    bottom: 0;
    height: 50%;
    transform: translateX(-50x);
}
.context-history:nth-child(3) .illustr-div .stick  {
    left: 50%;
    top: 0;
    bottom: 50%;
    height: 50%;
    transform: translateX(-50x);
}
.custom-li-ico {
    display: none;
}
@media screen and (max-width : 1000px) {
    #section-contexte-tinga {
        flex-direction: column;
    }
    .little-comment-part {
        width: 100%;
        margin: 0;
    }
    .way-part {
        width: 100%;
    }

    #section-contexte-tinga .bloc-sm-hidden {
        display: none;
    }
    .context-history {
        justify-content: flex-start;
        margin: 2rem 0;
    }
    .context-history .illustr-div {
        align-self: stretch;
        width: 2rem;
        height: 100%;
    }
    .context-history .illustr-div .stick {
        top: 0 !important;
        bottom: 0 !important;
        height: 100% !important;
    }
    .custom-li-ico {
        display: inline-block;
        color: #ffcf11;
        text-shadow: 0 0 3px black;
    }
}
/* --------------------Fin Section Contexte Tinga-------------------- */

/* --------------------Section presentation Tinga-------------------- */
.advantage-tinga {
    position: relative;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 3rem; /* Pour positionner le texte au hover */
}
.advantage-tinga img {
    width: 100%;
    max-width: 350px;
    height: 200px;
    max-height: 70.5vw;
    object-fit: cover;
}
.advantage-tinga p {
    width: 100%;
    margin: 0 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.784);
    color: #236800;
    font-weight: bold;
}
.advantage-tinga:hover img {
    transition: all 0.5s;
    object-fit: cover;
}
.advantage-tinga:hover p {
    transition: all 0.5s;
    top: 200px;
    background-color: white;
}
@media screen and (max-width : 700px) {
    .advantage-tinga p {
        top:100%;
        left: 0;
        transform: translateY(-100%);
        background-color: white;
    }
}
/* --------------------Fin Section presentatio Tinga-------------------- */


/* --------------------Section Qui peut donner-------------------- */
.list-who-can-don {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}
@media screen and (max-width : 700px) {
    .list-who-can-don {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

.pres-who-can-don {
    text-align: center;
    padding: 0.5rem;
}
.pres-who-can-don img {
    width: 100%;
    max-width: 350px;
    height: 250px;
    max-height: 70.5vw;
}
.pres-who-can-don p {
    width: 100%;
    margin: 1rem 0;
}
/* --------------------Fin Qui peut donner-------------------- */


/* --------------------Section chiffres clés-------------------- */
/* --------------------Fin Section chiffres clés-------------------- */

/* --------------------Section actualités-------------------- */
.partial-actu-list .actu {
    display: block;
    color: black;
    width: 100%;
    max-width: 275px;
    padding: 0.5rem;
}
.partial-actu-list .actu img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.partial-actu-list .actu p{
    width: 100%;
}
.partial-actu-list .actu .actu-title{
    font-size: 1.1em;
    font-weight: bold;
}
/* --------------------Fin Section actualités-------------------- */

/* --------------------Section partenaires-------------------- */
.list-partenaires{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 100px), 150px));
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
/* --------------------Fin Section partenaires-------------------- */


/* --------------------Section médiatèque-------------------- */
.mediatheque-pic a {
    display: block;
    width: 100%;
    height: 100%;
}

.mediatheque-pic a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mediatheque-pic a:nth-child(1) {
    grid-area: first;
}
.mediatheque-pic a:nth-child(2) {
    grid-area: second;
}
.mediatheque-pic a:nth-child(3) {
    grid-area: tird;
}
.mediatheque-pic a:nth-child(4) {
    grid-area: fourth;
}
.mediatheque-pic a:nth-child(5) {
    grid-area: fifth;
}

.mediatheque-pic a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.mediatheque-pic a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mediatheque-pic a>p {
    background-color: rgba(255, 255, 255, 0.625);
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(1rem);
    margin: 0;
}
.mediatheque-pic a:hover>p {
    transition: all 0.5s;
    opacity: 1;
    transform: translateY(0);
}

.mediatheque-pic {
    /* lié à une Media query */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(min(100%, 250px), 350px));
    grid-template-rows:  repeat(2, 260px);
    gap: 1rem;
    grid-template-areas:
    "first tird fourth"
    "second tird fifth"
    ;
    justify-content: center;
    align-content: center;
}
@media screen and (max-width : 800px) {
    .mediatheque-pic {
        display: grid;
        grid-template-columns: repeat(2, minmax(min(100%, 200px), 300px));
        grid-template-rows:  repeat(3, auto);
        gap: 1rem;
        grid-template-areas:
        "first second  "
        " tird  tird"
        "fourth fifth"
        ;
        justify-content: center;
        align-content: center;
    }
    .mediatheque-pic a {
        display: block;
        width: 100%;
        height: 200px;
    }
    .mediatheque-pic a>p {
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (max-width : 500px) {
    .mediatheque-pic {
        display: grid;
        grid-template-columns: repeat(1, minmax(min(100%, 200px), 300px));
        grid-template-rows:  repeat(5, auto);
        gap: 1rem;
        grid-template-areas:
        "first "
        "second"
        " tird"
        "fourth"
        "fifth"
        ;
        justify-content: center;
        align-content: center;
    }
    .mediatheque-pic a {
        display: block;
        width: 100%;
        height: 200px;
    }
}

/* Fin Section médiatèque */

